body {
  margin: 0;
  font-family: "Montserrat";
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overscroll-behavior-y: none;

  #root {
    height: 100%;
    width: 100%;
  }
}

div,
span,
p {
  box-sizing: border-box;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
